<form>
  <div class="form-group">
    <label for="user-servings">How many servings?</label>
    {{input value=user-servings class="user-servings" placeholder=1}}
  </div>
  {{#each recipe.ingredients as |ingredient|}}

  {{ingredient.measurement / user-servings}}
  {{/each}}
  <button {{action "cook4one1" recipe}}>cook4one</button>
</form>
