<form>
  <div class="form-group">
    <label for="user-servings">How many servings?</label>
    {{input value=user-servings id="user-servings" placeholder=1}}
  </div>
  <button {{action "cook4one1" recipe}}>cook4one</button>
</form>
