<h2>Recipes:</h2>
{{#each model.recipes as |recipe|}}
  {{#link-to 'recipe' recipe.id}}{{recipe-tile recipe=recipe update="update" destroyRecipe="destroyRecipe"}}{{/link-to}}
{{/each}}
{{new-recipe save2="save3" recipe=model}}
