<h2>Recipes</h2>

<ul>
  {{#each model.recipes as |recipe|}}
    {{recipe-tile recipe=recipe destroyRecipe="destroyRecipe"}}
  {{/each}}
</ul>

{{new-recipe saveRecipe2="saveRecipe3"}}

<h3> Ingredients </h3>

<ul>
  {{#each model.ingredients as |ingredient|}}
    <li>{{#link-to 'ingredient' ingredient.id}}{{ingredient-tile ingredient=ingredient destroyIngredient="destroyIngredient"}}{{/link-to}}</li>
    {{/each}}
</ul>

{{new-ingredient saveIngredient="saveIngredient"}}
